# Python Ignore Filters
*.pyc
*.pyo

# vim swap files
.*.sw?

# text-editor backup files
*~

# Built Project Ignore filters
buildout-starter-*/

# Buildout Ignore Filters
bin
build
develop-eggs
dist
eggs
parts
.installed.cfg
src/buildout_starter.egg-info
