# Python Ignore Filters
*.pyc
*.pyo

# vim swap files
.*.sw?

# text-editor backup files
*~

# Buildout Ignore Filters
bin
build
develop-eggs
dist
eggs
parts
.installed.cfg
src/buildoutstarter.egg-info
